# Ignore the virtual environment
venv/

# Ignore environment variables file
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Optional: Ignore system files (for macOS or Windows)
.DS_Store
Thumbs.db


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

